<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="public/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="container">
    <div class="nav-bar">
      <div class="left-section">
        <button class="home" onclick="documentation.location='home'">Home</button>
        <button class="nav-buttons" onclick="document.location='new-event'
        ">New Events</button>
        <button class="nav-buttons" onclick="document.location='registered_events'">Registered Events</button>
        <button class="nav-buttons" onclick="document.location='add-event'">Create Events</button>
      </div>
      <div class="right-section">
        <button class="logout" onclick="
        document.location='login'">>Logout</button>
        <h2 class="logo">Edushakha</h2>
      </div>
    </div>
  </nav>
  <div class="animation-text">
    <p class="animate-text">Edusakha</p>
    <span>Live Streaming</span>
    <span>Chat with Alumni</span>
  </div>
  <div class="home-des"> 
  <div class="description-home">
    
<div class="about">
  <p class="about-us">About us</p>
  <p class="descrip">Welcome to the unvelling of Edushakha's new Website!Welcome to the unvelling of Edusakha's new website! We are excited to showcase our latest project, which aims to create a deeper connection between students and their college community. Through attending events and communicating with alumni using chat, we hope to enhance the overall university experience for students.
 </div>

<div class="other-info">
 <p class="descrip">
   Our team has worked tirelessly to create a website that is both user-friendly and Innovative. With live streaming and playback options, registration page for students, and event management for the university and its alumni, our website provides a comprehensive platform for students to engage with their college community.</p>
   <button class="redirect-login-button" onclick="document.location='login'
   ">Login</button>
</div>
</div>
</div>
</body>
</html>