<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Events</title>
  <link rel="stylesheet" href="new_events.css">
  <link rel="stylesheet" href="home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="nav-bar">
    <div class="left-section">
      <button class="home" onclick="document.location='home'
      ">Home</button>
      <button class="nav-buttons">New Events</button>
      <button class="nav-buttons">Registered Events</button>
    </div>
    <div class="right-section">
      <h2 class="logo">Edushakha</h2>
    </div>
  </div>
</nav>
<div class="emtire">
<p class="Welcome-sign">Welcome to Events page</p>
<div class="container">

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Fitness Workshop: Yoga and Meditation.
    <br>Hosted By : Wellness Haven
    <br>Date: 2023-11-20
    <br>Time: 10:0
    </p>
  </div>

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Charity Gala Dinner
    <br>Hosted by: Community Charity Foundation
    <br>Date: 2023-12-10
    <br>Time: 19:00
    </p>
  </div>
  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Startup Pitch Competition
    <br>Hosted By : Startup Launchpad
    <br>Date: 2024-01-25
    <br>Time: 14:00
    </p>
  </div>

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Music Festival: GrooveFest 2024
    <br>Hosted By : Groove Productions
    <br>Date: 2024-03-08
    <br>Time: 12:00
    \</p>
  </div>

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name": Art Exhibition Opening
    <br>Hosted By : Gallery XYZ
    <br>Date": 2023-10-05
    <br>Time: 18:30
    </p>
  </div>

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name : Tech Conference 2023
     <br>Hosted By : Tech Innovators Inc
    <br>Date: "2023-09-15
    <br>Time: 09:00
    </p>
  </div>

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Charity Gala Dinner
     <br>Hosted by: Community Charity Foundation
    <br>Date: 2023-12-10
    <br>Time: 19:00
    </p>
  </div>
  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Fitness Workshop: Yoga and Meditation.
    <br>Hosted By : Wellness Haven
    <br>Date: 2023-11-20
    <br>Time: 10:0
    </p>
  </div>


  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Startup Pitch Competition
    <br>Hosted By : Startup Launchpad
    <br>Date: "2024-01-25
    <br>Time: 14:00
    </p>
  </div>


  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Music Festival: GrooveFest 2024
    <br>Hosted By : Groove Productions
    <br>Date: 2024-03-08
    <br>Time: 12:00
    </p>
  </div>

  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name : Tech Conference 2023
    <br>Hosted By : Tech Innovators Inc
    <br>Date: "2023-09-15
    <br>Time: 09:00
    </p>
  </div>
  <div class="Events-list">
    <a href="https://console.agora.io/invite?sign=aedaa7060a46ff6d41a29816498d9cbd%253A4e572e6007bda77330abd89ea5e12d8dc2bc83259d83860a903e9c8813b41775">
    <img src="event 1.jpg" class="events">
    </a>
    <p class="event_Description">Event Name: Art Exhibition Opening
    <br> Description: "Experience a captivating collection of contemporary art from various artists around the
    world.
    <br> Hosted By : Gallery XYZ
    <br> Date: 2023-10-05
    <br> Time: 18:30
    </p>
  </div>
</div>
</div>
  <script src="registered_events.ejs"></script>
</body>
</html>